@model TSeason

@{
    ViewData["Title"] = "Details";
}

<div class="p-0 sm:p-12">
  <div class="mx-auto max-w-md px-6 py-12 bg-[#1b1b1f] border-0 shadow-lg sm:rounded-3xl">
    <h1 class="text-2xl font-bold mb-8 text-slate-300">Details for @Model.Season</h1>
    <form>

      <div class="relative z-0 w-full mb-5">
        <input
          asp-for="Season"
          disabled
          type="text"
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300"
        />
        <label asp-for="Season" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Season Name</label>
      </div>

      <div class="relative z-0 w-full mb-5">
        <input
          asp-for="TvShow.Name"
          disabled
          type="text"
          class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300"
        />
        <label asp-for="TvShow.Name" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Tv Show Name</label>
      </div>

      <div class="flex justify-between">
          <a
            asp-action="Index"
            class="hvr-icon-back px-4 py-2.5 mt-3 text-md text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-gray-500 hover:bg-gray-700 hover:shadow-lg focus:outline-none"
          >
          <i class="fa-solid fa-angle-left hvr-icon mr-2"></i>
            Back to list
          </a>

          <a
            asp-action="Edit"
            asp-route-id="@Model.Id"
            class=" px-4 py-2.5 mt-3 text-md text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-blue-500 hover:bg-blue-700 hover:shadow-lg focus:outline-none"
          >
            Update
          </a>
      </div>
    </form>
  </div>
</div>
