@model Category

@{
    ViewData["Title"] = "Add a new category";
}

<div class="p-0 sm:p-12">
    <div class="mx-auto max-w-md px-6 py-12 bg-slate-50 border-0 shadow-lg sm:rounded-3xl">
        <h1 class="text-2xl font-bold mb-8">Add a new category</h1>
        <form asp-action="Create">

            <div class="relative z-0 w-full mb-5">
                <input asp-for="CategoryName"
                       type="text"
                       placeholder=" "
                       id="catName"
                       oninput="nameCheck()"
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200" />
                <label asp-for="CategoryName" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Enter category name</label>
                <span asp-validation-for="CategoryName" id="errStatus" class="text-sm text-red-600"></span>
            </div>

            <button type="submit"
                    class="w-full px-6 py-3 mt-3 text-md text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-blue-500 hover:bg-blue-600 hover:shadow-lg focus:outline-none">
                Add Category
            </button>
        </form>
    </div>
</div>

<script>
    //Checking if category exists

    function nameCheck() {
    var categoryName = $("#catName").val()
    var error = $("#errStatus")

    error.html('<font color="Gray">Checking...</font>');

    $.post("@Url.Action("NameAvailability","Category")",

        {
            name: categoryName
        },

        function (data) {
            if (data == 0) {
                error.html('<font color="Green">Available.</font>');

            }
            else if (data == 1) {
                error.html('<font color="Red">Category already exists!</font>');
            }
            if (!categoryName) {
                error.html("");
            }
        });
}
    
</script>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
