@model Redeo.ViewModels.RegisterVM;

@{
    ViewData["Title"] = "Add a new Editor";
}

<div class="p-0 sm:p-12">
    <div class="mx-auto max-w-md px-6 py-12 bg-[#19191c] border-0 shadow-lg sm:rounded-3xl">
        <h1 class="text-2xl font-bold mb-8 text-slate-300">Add a new Editor</h1>
        <form asp-controller="Account" asp-action="CreateEditor">

            <div class="relative z-0 w-full mb-5">
                <input asp-for="FullName"
                       type="text"
                       placeholder=" "
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300" />
                <label asp-for="FullName" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Full Name</label>
                <span asp-validation-for="FullName" class="text-sm text-red-600"></span>
            </div>


            <div class="relative z-0 w-full mb-5">
                <input asp-for="UserName"
                       type="text"
                       placeholder=" "
                       id="name"
                       oninput="actorCheck()"
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300" />
                <label asp-for="UserName" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Username</label>
                <span asp-validation-for="UserName" id="errStatus" class="text-sm text-red-600"></span>
            </div>

            <div class="relative z-0 w-full mb-5">
                <input asp-for="Email"
                       type="text"
                       placeholder=" "
                       id="dob"
                       oninput="actorCheck()"
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300" />
                <label asp-for="Email" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Email</label>
                <span asp-validation-for="Email" id="errStatus" class="text-sm text-red-600"></span>
            </div>

            <div class="relative z-0 w-full mb-5">

                <input asp-for="Birthdate"
                       type="date"
                       placeholder=" "
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300" />
                <label asp-for="Birthdate" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Birthdate</label>
                <span asp-validation-for="Birthdate" class="text-sm text-red-600"></span>
            </div>

            <div class="relative z-0 w-full mb-5">

                <input asp-for="Password"
                       type="password"
                       placeholder=" "
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300" />
                <label asp-for="Password" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Password</label>
                <span asp-validation-for="Password" class="text-sm text-red-600"></span>
            </div>

            <button type="submit"
                    id="submitBtn"
                    class="px-6 py-3 mt-3 text-md text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-blue-500 hover:bg-blue-600 hover:shadow-lg focus:outline-none">
                Add Editor
            </button>
        </form>
    </div>
</div>