@model Redeo.ViewModels.UserVM

@{
    ViewData["Title"] = "Profile";
}


<div class="p-0 sm:p-12">
    <div class="mx-auto max-w-md px-6 py-12 bg-[#1b1b1f] border-0 shadow-lg sm:rounded-3xl">
        <form asp-action="Profile">

            <div class="relative z-0 w-full mb-5">
                <input asp-for="FullName"
                       type="text"
                       placeholder=" "
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300" />
                <label asp-for="FullName" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Name</label>
                <span asp-validation-for="FullName" class="text-sm text-red-600"></span>
            </div>
            <div class="relative z-0 w-full mb-5">
                <input asp-for="UserName"
                       type="text"
                       placeholder=" "
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300" />
                <label asp-for="UserName" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Username</label>
                <span asp-validation-for="UserName" class="text-sm text-red-600"></span>
            </div>
            <div class="relative z-0 w-full mb-5">
                <input asp-for="Email"
                       type="text"
                       disabled
                       placeholder=" "
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300" />
                <label asp-for="Email" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Email</label>
                <span asp-validation-for="Email" class="text-sm text-red-600"></span>
            </div>
            <div class="relative z-0 w-full mb-5">
                <input asp-for="Birthdate"
                       type="date"
                       placeholder=" "
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300" />
                <label asp-for="Birthdate" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Birthdate</label>
                <span asp-validation-for="Birthdate" class="text-sm text-red-600"></span>
            </div>
            <div class="relative z-0 w-full mb-5">
                <input asp-for="Password"
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300"
                       type="password"
                       id="password"
                       placeholder=" " />
                <label asp-for="Password" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Password</label>
                <span asp-validation-for="Password" class="text-sm text-red-600"></span>
                <i class="fa-sharp fa-solid fa-eye-slash text-zinc-300 cursor-pointer absolute right-0 bottom-4" id="togglePassword"></i>
            </div>
            <div class="relative z-0 w-full mb-5">
                <input asp-for="ConfirmPassword"
                       class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200 text-slate-300"
                       type="password"
                       id="confPassword"
                       placeholder=" " />
                <label asp-for="ConfirmPassword" class="absolute duration-300 top-3 -z-1 origin-0 text-slate-300">Confirm Password</label>
                <span class="text-zinc-300 text-xs opacity-50">If you don't want to change the password ignore the password fields.</span>
                <span asp-validation-for="ConfirmPassword" class="text-sm text-red-600"></span>
            </div>
            <button type="submit"
                    class=" px-4 py-2.5 mt-3 text-md text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-blue-500 hover:bg-blue-700 hover:shadow-lg focus:outline-none">
                Update
            </button>
        </form>
    </div>
    <div class="fixed right-0 top-40 text-zinc-100 text-sm">
        <a asp-controller="Account" asp-action="Profile" asp-route-name="@User.Identity.Name">

            <div class="bg-blue-500 hover:bg-blue-600 hover:scale-105 w-28 rounded-tl-md rounded-bl-md px-3 py-2 cursor-pointer transition-all">
                <i class="fa-solid fa-gear"></i>
                <span>
                    Profile
                </span>
            </div>
        </a>
        <div class="hover:bg-blue-600 hover:scale-105 w-28 rounded-tl-md rounded-bl-md px-3 py-2 cursor-pointer transition-all">
            <a asp-controller="Favorites" asp-action="Index">
                <i class="fa-solid fa-heart"></i>
                <span>
                    Favorites
                </span>
            </a> 
        </div>
    </div>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
