@using Redeo.ViewModels
@model RegisterVM;

@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0" />

<div class="test">
    <div class="signup">

        <form class="form1" asp-controller="Account" asp-action="Register">
            <div class="textbox">
                <input asp-for="FullName" type="text" placeholder="Full Name" class="focus:ring-0 input-field" required />
                <span class="material-symbols-outlined"> account_circle </span>
            </div>
            
            <div class="textbox">
                <input asp-for="Birthdate" type="date" placeholder="Birthdate" class="focus:ring-0 input-field" required />
                <span class="material-symbols-outlined"> calendar_month </span>
            </div>

            <div class="textbox">
                <input asp-for="UserName" type="text" placeholder="Username" class="focus:ring-0 input-field" required />
                <span class="material-symbols-outlined"> account_circle </span>
            </div>

            <div class="textbox">
                <input asp-for="Email" type="email" placeholder="Email" class="focus:ring-0 input-field" required />
                <span class="material-symbols-outlined"> mail </span>
            </div>

            <div class="textbox">
                <input asp-for="Password" type="password" id="password" placeholder="Password" class="focus:ring-0 input-field" required />
                <span class="material-symbols-outlined"> key </span>
                <i class="fa-sharp fa-solid fa-eye-slash text-zinc-300 cursor-pointer absolute right-0 bottom-4" id="togglePassword"></i>
            </div>

            <div class="textbox">
                <input asp-for="ConfirmPassword" type="password" id="confPassword" placeholder="Confirm Password" class="focus:ring-0 input-field" required />
                <span class="material-symbols-outlined"> key </span>
            </div>
            <p>
                Already have an account?
                <a asp-controller="Account" asp-action="Login">Login here</a>
            </p>

            <button type="submit" class="loginbtn">
                Register
                <span class="material-symbols-outlined"> arrow_forward </span>
            </button>
        </form>

    </div>
    <div class="tk-blob blob1" style="max-width: 500px; ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418.7 325.5">
            <path d="M363.8 52.4c42.8 41.3 68 108.8 47.9 153.5-20.1 44.8-85.6 66.7-143 87.4-57.4 20.8-106.8 40.3-156.7 28.7C62 310.4 11.5 267.7 1.8 217.7c-9.7-49.9 21.5-107 61.5-147.6C103.2 29.5 152 5.3 206.4.8c54.5-4.6 114.7 10.4 157.4 51.6z"></path>
        </svg>
    </div>

    <div class="tk-blob blob2" style="max-width: 500px; --fill:#2e7bbb;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418.7 325.5">
            <path d="M363.8 52.4c42.8 41.3 68 108.8 47.9 153.5-20.1 44.8-85.6 66.7-143 87.4-57.4 20.8-106.8 40.3-156.7 28.7C62 310.4 11.5 267.7 1.8 217.7c-9.7-49.9 21.5-107 61.5-147.6C103.2 29.5 152 5.3 206.4.8c54.5-4.6 114.7 10.4 157.4 51.6z"></path>
        </svg>
    </div>
</div>