@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<style>
    h3 {
        animation: type .5s alternate infinite;
    }

    @@keyframes type {
        from {
            box-shadow: inset -3px 0px 0px #888;
        }

        to {
            box-shadow: inset -3px 0px 0px transparent;
        }
    }
</style>

<div class="table w-full h-[65vh] text-center text-zinc-300">
    <div class="table-cell align-middle">
        <h3 class="inline-block pr-2 text-lg transition-all duration-700">
            Password has been reset. Please <a class="text-blue-600" asp-action="Login">Login</a>
        </h3>
    </div>
</div>