@model Producers

@{
	ViewData["Title"] = "Add a new producer";
}

<div class="p-0 sm:p-12">
	<div class="mx-auto max-w-md px-6 py-12 bg-slate-50 border-0 shadow-lg sm:rounded-3xl">
		<h1 class="text-2xl font-bold mb-8">Add a new category</h1>
		<form asp-action="Create">

			<div class="relative z-0 w-full mb-5">
				<input asp-for="ProducersName"
					   type="text"
					   placeholder=" "
					   id="producerName"
					   oninput="producerCheck()"
					   class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200" />
				<label asp-for="ProducersName" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Enter producer name</label>
				<span asp-validation-for="ProducersName" id="errStatus" class="text-sm text-red-600"></span>
			</div>

			<div class="relative z-0 w-full mb-5">
				<input asp-for="ProfilePicture"
					   type="text"
					   placeholder=" "
					   class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200" />
				<label asp-for="ProfilePicture" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Profile picture</label>
				<span asp-validation-for="ProfilePicture" class="text-sm text-red-600"></span>
			</div>

			<div class="relative z-0 w-full mb-5">
				<input asp-for="Birthdate"
					   type="date"
					   placeholder=" "
					   id="dob"
					   oninput="producerCheck()"
					   class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200" />
				<label asp-for="Birthdate" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Birthdate</label>
				<span asp-validation-for="Birthdate" id="errStatus" class="text-sm text-red-600"></span>
			</div>

			<div class="relative z-0 w-full mb-5">
				<input asp-for="Biography"
					   type="text"
					   placeholder=" "
					   class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-blue-400 border-gray-200" />
				<label asp-for="Biography" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Enter biography</label>
				<span asp-validation-for="Biography" class="text-sm text-red-600"></span>
			</div>

			<button type="submit"
					id="submitBtn"
					class="px-6 py-3 mt-3 text-md text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-blue-500 hover:bg-blue-600 hover:shadow-lg focus:outline-none">
				Add Producer
			</button>
		</form>
	</div>
</div>

<script>
	//Checking if category exists

	function producerCheck() {
	var producerName = $("#producerName").val();
	var birthdate = $("#dob").val();
	var error = $("#errStatus")

	error.html('<font color="Gray">Checking...</font>');

	$.post("@Url.Action("ProducerAvailability","Producers")",

		{
			name: producerName,
			bdate: birthdate;

		},

		function (data) {
			if (data == 0) {
				error.html('<font color="Green">Available.</font>');
				$("#submitBtn").prop('disabled', false).addClass("hover:bg-blue-600").removeClass("cursor-not-allowed bg-blue-400");

			}
			else if (data == 1) {
				error.html('<font color="Red">Category already exists!</font>');
				$("#submitBtn").prop('disabled', true).addClass("cursor-not-allowed	bg-blue-400").removeClass("hover:bg-blue-600");
			}
			if (!producerName && !birthdate) {
				error.html("");
			}
		});
	}

</script>

@section Scripts{
    @{
	<partial name="_ValidationScriptsPartial" />
    }
}