<style>
    h3 {
        animation: type .5s alternate infinite;
    }

    @@keyframes type {
        from {
            box-shadow: inset -3px 0px 0px #888;
        }

        to {
            box-shadow: inset -3px 0px 0px transparent;
        }
    }
</style>

<div class="table w-full h-[65vh] text-center text-zinc-300">
    <div class="table-cell align-middle">
        <h1 class="text-3xl font-semibold">Error 404</h1>
        <h3 class="inline-block pr-2 text-lg transition-all duration-700">Did not find any Movie or Tv Show with that title or description</h3>
    </div>
</div>
