<nav class="navbarC">

    <button onclick="toggleMenu()" class="burger"></button>

    <div class="dropdowns justify-between">
        <div class="px-4 py-2">
            <a class="text-3xl font-bold leading-none" style="color:#006db0; font-family: Reospec; margin-top: 5px;" asp-controller="Movie" asp-action="Index">
                REDEO
            </a>
        </div>
        <div class="res_dropdowns">
            <div class="dropdown">
                <a asp-controller="Movie" asp-action="Index">
                    <button class="button">
                        Movies
                    </button>
                </a>
            </div>
            <div class="dropdown">
                <button class="button">
                    TV Shows
                </button>

            </div>
            <div class="dropdown">
                <button class="button">
                    Genre
                    <img src="~/icons/chevron.svg" />

                </button>
                <div class="dropdown-menu">
                    <div class="flex flex-col">
                        @foreach (var item in ViewBag.Category)
                        {
                            <a href="">
                                @item.CategoryName
                            </a>
                        }
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="button">
                    Management
                    <img src="~/icons/chevron.svg" />

                </button>
                <div class="dropdown-menu">
                    <a asp-controller="Category" asp-action="Index" class="mt-2">
                        <button>Categories</button>
                    </a>
                    <a asp-controller="Actor" asp-action="Index" class="mt-2">
                        <button>Actors</button>
                    </a>
                    <a asp-controller="Producers" asp-action="Index" class="mt-2">
                        <button>Producers</button>
                    </a>
                </div>
            </div>
        </div>


        <div class="flex px-4 py-2">

            <form asp-controller="Movie" asp-action="Index" method="get">
                <div class="form-actions w-auto flex justify-end px-2 items-center focus:ring-0 transition duration-300 border-b-2 border-b-[#006db0]">

                    <input type="text"  placeholder="Search" name="SearchString" value="@ViewData["CurrentFilter"]" class="w-44 mr-4 bg-transparent border-none focus:ring-0" autocomplete="off" />
                    <i class="fa-solid fa-magnifying-glass" style="color:#006db0;"></i>
                    <input type="submit" value="" />

                </div>
            </form>
        </div>
    </div>
</nav>